'scopeName': 'source.jshbs'
'fileTypes': [
  'js'
  'es'
  'es6'
]
'firstLineMatch': '^#!.*\\b(node|iojs|JavaScript)'
'name': 'JavaScript inline hbs'
'patterns': [
  {
    'name': 'comment.block.js'
    'begin': '\\b(hbs\`)'
    'end': '\`'
    'patterns': [
      {
        'include': 'text.html.mustache'
      }
    ]
  }
  {
    'include': 'source.js'
  }
]
