'scopeName': 'source.jshbs'
'fileTypes': [
  'js'
  'es'
  'es6'
]
'firstLineMatch': '^#!.*\\b(node|iojs|JavaScript)'
'name': 'JavaScript + HTMLBars'
'patterns': [
  {
    'begin': 'hbs\`'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.js'
    'patterns': [
      {
        'include': 'text.html.mustache'
      }
    ]
    'end': '\`'
    'name': 'comment.block.js'
  }
  {
    'include': 'source.js'
  }
]
